body{
    display:flex; 
    justify-content: space-around;
}

main{
    display:flex; 
    justify-content: space-around;  
    flex-direction: column; 
    height: 100%; 
    width: 50%;
}

.formulario{
    width:100%;
    height: 50%;
    border: 1px solid;
    border-radius: 10px;
    background: #80808057;
}

.wrapper{
    flex-direction: column;
    width:100%;
    height: 100%;
}

.input-container, .result-container{
    --efective-width: calc(100%-4rem);
    width: var(--efective-width);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.date-and-button-container{
    display: flex;
    justify-content: space-between;
    width: var(--efective-width);

}

.initial-text{
    display: flex;
    width: var(--efective-width);
}